*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background: rgb(182, 182, 182);
    overflow: hidden;
}
.container{
    width: 100%;
    
}

nav{
    background-color: #222;
    padding: 5px 20px;
}

ul{
    list-style-type: none;
    
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.menu li{
    font-size: 16px;
    padding: 15px 5px;
}
.menu li a{
    display: block;
}
.logo a{
    font-size: 20px;
}
.button.secondary{
    border-bottom: 1px #444 solid
}

/*Mobile Menu*/
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    order: 1;
}
.item.button{
    order: 2;
}
.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active{
    display: block;
}

.toggle{
    cursor: pointer;
}
.bars{
    background: #999;
    display: inline-block;
    height: 2px;
    width: 18px;
    position: relative;
}

.bars::before,.bars::after{
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    width: 18px;
    position: absolute;
}

.bars::before{
    top: 5px;
}

.bars::after{
    top: -5px;
}

.devColor{
    color: #006d6d;
}

/* .top{
    width: 100%;
    padding: 0px 70px 0px 70px;
    height: 700px;
    background: white;
    display: flex;
}

.left{
    height: 100%;
    width: 50%;
    padding-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro{
    font-size: 32px;

}

.name{
    font-size: 50px;
    font-weight: 800;
}

.right{
    height: 100%;
    width: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inner{
    height: 450px;
    width: 450px;
    background: white;
    background: radial-gradient(circle, #9897a0 25%, transparent 26%);
    background-size: 1em 1em;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 0px 0px 50% 0px;
}
.circle{
    height: 450px;
    width: 450px;
    background: rgb(206, 255, 255);
    border-radius: 50% 0% 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 150px;
}
.container{
    overflow: hidden;
} */


/* Tablet Menu */

@media all and (min-width: 468px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }

    .toggle{
        order: 2;
    }
    .button.secondary{
        border: 0;
        

    }
    .button a{
        text-decoration: none;
        padding: 7px 15px;
        background: teal;
        border: 1px solid #006d6d;
        border-radius: 50em;
    }
    .button.secondary a{
        background: transparent;
    }
    .button a:hover{
        transition: all .25s;
    }
    .button:not(.secondary) a:hover{
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover{
        color: #ddd;
    }

    
}

@media all and (min-width: 896px){

    .item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order: 0;
    }
    .item{
        order: 1;
    }
    .button{
        order: 2;
    }

    .menu li{
        padding: 15px 10px;
    }
    .menu li.button{
        padding-right: 0
    }

}